[Desktop Entry]
Version=1.0.0
Name=dragoncenter
GenericName=dragoncenter
Comment=Dragon Center For Linux
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=dragon