[Desktop Entry]
Version=1.0.1
Name=DragonCenter
GenericName=dragoncenter
Comment=Dragon Center For Linux
Terminal=true
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=dragon